
- Веди документацию только на русском языке
- Отвечая на мой запрос в новом чате, всегда сначала изучай описание проекта в @prd.md и план действий в соответствуюшей версии plan.md
- Реализуя пошаговый план проекта, пиши в чате заголовок шага. Останавливайся по окончанию шага, не переходи к новому, пока я не проверю результат.
- Если план или описание проекта меняется в процессе, дополняй план и описание новыми вводными
- Не делай DRY-RUN! Запускай проект на реальных данных, но предупреждай, что будешь это делать.
- Перед реальным запуском скрипта с обращением к LLM сделай проверку, что обращение к LLM работает верно и выдает осмысленный результат.
- При отправке запросов к LLM по API не ставь ограничения на количество токенов без явного моего указания.
- Оптимизируй мой Dockerfile, используй alpine, multi-stage build и .dockerignore. 